<header class="barraSup">
  <div class="barraBuscar">
    <input type="text" placeholder="Buscar">
  </div>
  <div class="logo" routerLink='/descubrir' style="cursor: pointer;">
    <img src="fotos/barrasuperior/logo.png" alt="TravelGo">
  </div>
  <div class="redesSocialesyCarrito">
    <div class="carrito" routerLink='/carrito' style="cursor: pointer;">
        <img src="fotos/barrasuperior/carrito.png" alt="carro">
    </div>
    <span><img src="fotos/barrasuperior/facebook.png" alt="facebook"></span>
    <span><img src="fotos/barrasuperior/tiktok.png" alt="tiktok"></span>
    <span><img src="fotos/barrasuperior/instagram.png" alt="instagram"></span>
  </div>
</header>