.pie-pagina {
    background-color: #1c1e21;
    color: white;
    padding: 40px 20px;
    margin-top: 50px;
    text-align: center;
}
.contenido-footer img {
    height: 40px;
    margin-bottom: 10px;
}
.links p {
    font-size: 14px;
    color: #b0b3b8;
}
