.compra-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: whitesmoke; 
}

.tarjeta-reserva {
  background: white;
  border-radius: 15px;
  border: 5px;
  border-color:black ;
  overflow: hidden;
  max-width: 450px;
  width: 100%;
}

.imagen img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info-reserva {
  padding: 25px;
}

.cabecera {
  margin: 0;
  color: black;
  font-size: 24px;
}

.beneficios {
  padding: 0;
  margin: 20px 0;
  color: gray;
}

.etiqueta {
  font-size: 14px;
  color: black;
  margin: 0;
}

.precio {
  font-size: 32px;
  color: black  ;
  margin: 5px 0 0 0;
}

.acciones {
  display: flex;
  flex-direction: column;
}

button, .btn-volver {
  display: block;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

button {
  background-color: #3897f0;
  color: white;
}

button:hover {
  background-color: #226eb4;
}

.btn-volver {
  background-color: white;
  color: gray;
  border: 1px solid;
  border-color: gray;
}

.btn-volver:hover {
  background-color: #f9f9f9;
  color: #2c3e50;
}